.header-main-advanced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  img {
    width: 74px;
    height: 24px;
  }
}

.main-advanced {
  margin-left: 45px;
  margin-top: 20px;

  h1 {
    color: #d93025;
    font-size: 1.25em;
    font-weight: normal;
  }

  hr {
    height: 1px;
    background: #ebebeb;
    margin-left: -45px;
    margin-top: 25px;
    border: none;
  }
}

.as-wrapper {
  margin-top: 50px;
  height: 200px;

  .as-headers {
    width: 925px;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 1rem;
      font-weight: normal;
      color: #333;
    }

    .extra-info {
      font-size: 0.8125rem;
      color: #777;
      font-weight: bold;
    }
  }

  .as-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5px;

    label {
      font-size: 0.8125rem;
      color: #222;
      width: 165px;
    }

    input {
      width: 572px;
      height: 29px;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c0c0c0;
      border-radius: 1px;
    }

    .input-wrapper {
      max-width: 1200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        font-size: 0.6875rem;
        color: #555;
        margin-left: 10px;

        span {
          font-family: monospace;
        }
      }
    }
  }
}
