@use '__defaults';
@use '__image';

.header-main {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

.header-navigation {
  font-size: 0.8125rem;
  display: flex;
  flex-direction: row;
}

.navigation-links {
  padding: 5px 7.5px;

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  img {
    width: 272px;
    height: 92px;
  }

  .logo-deco {
    font-family: 'Roboto', sans-serif;
    color: #4285f4;
    position: relative;
    bottom: 17.5px;
    left: 105px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    .search-wrapper {
      display: flex;
      align-items: center;
      width: 565px;
      height: 44px;
      border: 1px solid #dfe1e5;
      border-radius: 22px;
      padding: 0 15px;

      &:hover {
        box-shadow: 0 2px 6px rgba(175, 175, 175, 0.37);
      }

      img {
        width: 15px;
        height: 15px;
      }

      input[type='text'] {
        width: 480px;
        max-width: 90vw;
        height: 34px;
        background: transparent;
        margin-left: 15px;

        &:focus {
          outline: none;
        }
      }

      .gimage-submit {
        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    .gsearch-submit {
      font-size: 14px;
      color: #3c4043;
      width: auto;
      height: 34px;
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      margin-top: 33px;
      padding: 0 16px;

      &:hover {
        color: #202124;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        border: 1px solid #dadce0;
      }
    }
  }
}
