@use '__defaults';

.header-main {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

.header-navigation {
  font-size: 0.8125rem;
  display: flex;
  flex-direction: row;
}

.navigation-links {
  padding: 5px 7.5px;

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  img {
    width: 272px;
    height: 92px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    .search-wrapper {
      display: flex;
      align-items: center;
      width: 580px;
      height: 44px;
      border: 1px solid #dfe1e5;
      border-radius: 22px;
      padding: 0 15px;

      &:hover {
        box-shadow: 0 2px 6px rgba(175, 175, 175, 0.37);
      }

      img {
        width: 20px;
        height: 20px;
      }

      input[type='text'] {
        width: 480px;
        max-width: 90vw;
        height: 34px;
        background: transparent;
        margin-left: 15px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
